.sideDrawer{
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top:0;
    z-index:200;
    background-color: white;
    box-sizing: border-box;
    padding: 32px 16px;
    transition: tansform 0.3s ease-out;
    -webkit-transition: tansform 0.3s ease-out;
    -moz-transition: tansform 0.3s ease-out;
    -o-transition: tansform 0.3s ease-out;
}
@media (min-width:500px){
    .sideDrawer{
        display: none;
    }
}
.open{
    transform:translateX(0);
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    -o-transform:translateX(0);
}
.close{
    transform:translateX(-100%);
    -webkit-transform:translateX(-100%);
    -moz-transform:translateX(-100%);
    -o-transform:translateX(-100%);
}
.sideDrawerLogo{
    height: 21%;
}